@using PSIQ.Models
@model Paciente
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    <div class="col-md-12 text-center">
        <img src="@Url.Content("~/Images/lolo.png")" />
        <p><b>A rede social para o lado mais expressivo do ser</b></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 text-right">
            <img src="@Url.Content("~/Images/perfil-blog.png")" />
        </div>
        <div class="col-md-4 text-left">
            <label class="control-label" id="h1">Nome:</label>
            <br />
            <label class="control-label" id="h2">CPF:</label>
            <br />
            <a href="@Url.Action("Index", "LoginP")" id="h3">Sair</a>
            <br />
            <label id="">Terapeuta:</label>
        </div>



    </div>


    <div class="row">

        @Html.LabelFor(m => m.DescricaoD, "Diagnostico Descricao:", new { @class = "control-label" })
        @Html.TextAreaFor(m => m.DescricaoD, new { @class = "form-control", @rows = 10})
        <br />
        <div class="row">
            <div class="col-md-12 text-right ">
                <button type="button" class="btn btn-default" aria-label="Alinhar na esquerda">
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                </button>

                <button class="btn btn-primary"> Publicar</button>
            </div>

        </div>

    </div>

    <br />
    <br />

    <div class="row" style=" border 2px;
         border-style solid; border-color black; border-radius 10px; backgroud-color #6E6E6E;">
        <div class="col-md-12 ">
            <p id="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat tincidunt metus, non pretium nunc elementum a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut auctor orci non vestibulum vulputate. Vestibulum nec neque aliquam lorem accumsan rutrum vel in ipsum. Nam ut mollis mi, feugiat imperdiet lorem. Vivamus tortor magna, molestie non elit et, sollicitudin consectetur tellus. Vestibulum lorem nulla, condimentum nec ante quis, aliquam accumsan dui. Proin pellentesque orci sit amet diam tincidunt placerat. Praesent volutpat scelerisque sem dignissim consectetur. Nulla euismod magna ut metus blandit bibendum. Ut odio quam, auctor non congue sit amet, porta id sapien.</p>
        </div>
        <div class="col-md-1  ">
            <a href="#">
                <label class="form-control"> EDITAR</label>
            </a>
        </div>
    </div>


</div>


</div>


