@using PSIQ.Models
@model Paciente
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="@Url.Action("EnviarMsg", "PerfilPacienteP")">
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <img src="@Url.Content("~/Images/logo_psiq.png")" />
                    <p><b>A rede social para o lado mais expressivo do ser</b></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="masthead">
                        <nav>
                            <ul class="nav nav-justified">
                                <li><a href="@Url.Action("Index", "PerfilPacienteP")">Início</a></li>
                                <li><a href="@Url.Action("Index", "CadastroP")">Meus Dados</a></li>
                                <li><a href="@Url.Action("LogOff", "LoginP")">Sair</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="form-group text-center">
                        <div class="col-md-12 text-center">
                            @if (!string.IsNullOrWhiteSpace(Model.Foto))
                            {
                                <img class="img-circle text-center" src="@Url.Content(string.Format("~/Fotos/{0}", Model.Foto))" style="width: 200px;" />
                            }
                            else
                            {
                                <img class="img-circle text-center" src="@Url.Content("~/Images/perfil-blog.png")" />
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label"> @Model.Nome</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label"> @Model.Terapeuta.Nome</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" style="border-left: 2px solid black;">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Envie uma mensagem:</label>
                            <textarea name="Mensagem" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary" value="Enviar" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" ">
                            @if (Model != null && Model.Posts.Count > 0)
                            {
                                var rowIndex = 0;
                                var lastUsuario = 0;
                                var lastTipo = string.Empty;
                                foreach (var post in Model.Posts)
                                {
                                    if (lastUsuario > 0 && lastUsuario != post.IdUsuario || (lastUsuario > 0 && lastUsuario == post.IdUsuario && !string.IsNullOrWhiteSpace(lastTipo) && lastTipo != post.TipoUsuario))
                                    {
                                        rowIndex++;
                                    }
                                    if (rowIndex % 2 == 0)
                                    {
                                        <hr />
                                        <div class="row" style="background-color:white; border-radius: 10px;">
                                            <div class="col-md-2 text-center-lg">
                                                <img class="img-circle" src="@Url.Content(string.Format("~/Fotos/{0}", post.FotoUsuario))" width="100" height="100">
                                            </div>
                                            <div class="col-md-10" style="word-wrap: break-word;">
                                                <h4 style="font-weight: bold;">@post.NomeUsuario</h4>
                                                <h6 style="color: black; font-size: 10px;">@string.Format("{0:dd/MM/yyyy HH:mm}", post.DataHora)</h6>
                                                <p>
                                                    @post.Mensagem
                                                </p>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-2 col-md-push-10 text-center-lg text-right-not-lg">
                                                <img class="img-circle direita" src="@Url.Content(string.Format("~/Images/{0}", post.FotoUsuario))" width="100" height="100">
                                            </div>
                                            <div class="col-md-10 col-md-pull-2 text-right">
                                                <h4 style="font-weight: bold;">@post.NomeUsuario</h4>
                                                <h6 style="color: #ffffff; font-size: 10px;">@string.Format("{0:dd/MM/yyyy HH:mm}", post.DataHora)</h6>
                                                <p>
                                                    @post.Mensagem
                                                </p>
                                            </div>
                                        </div>
                                    }
                                    lastUsuario = post.IdUsuario;
                                    lastTipo = post.TipoUsuario;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>