@using PSIQ.Models
@model  List<Paciente>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12 text-center">
                <img src="@Url.Content("~/Images/lolo.png")" />
                <p><b>A rede social para o lado mais expressivo do ser</b></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="masthead">
                    <nav>
                        <ul class="nav nav-justified">
                            <li class="active"><a href="#">Perfil</a></li>
                            <li><a href="@Url.Action("Index", "PreCadastroPaciente")">Pacientes</a></li>
                            <li><a href="@Url.Action("Index", "Diagnostico")">Diagnósticos</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Sair</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="form-group text-right">
            <div class="col-md-4">
                <img src="@Url.Content("~/Images/perfil-blog.png")" />
            </div>
            <div class="col-md-4 text-left">
                <label class="control-label" id="h1">Nome:</label>
                <br />
                <label class="control-label" id="h2">CRP:</label>
            </div>
            <div class="form-group">
                <div class="col-md-4 text-right">
                    <div class="input-group">
                        <input type="text" class="form-control" name="texto" id="texto" placeholder="Digite a pesquisa" />
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                Filtrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <br />
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:35%">NOME</th>
                                    <th style="width:15%">IDADE</th>
                                    <th style="width:15%">ESTADO</th>
                                    <th style="width:35%">DIAGNÓSTIC0</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (Paciente item in Model)
                                    {
                                        <tr>
                                            <td>@item.Nome</td>
                                            <td>@item.Idade</td>
                                            <td>@item.Estado</td>
                                            <td>@item.Diagnostico</td>
                                        </tr>
                                    }*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>