@using PSIQ.Models
@model  List<Paciente>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12 text-center">
                <img src="@Url.Content("~/Images/lolo.png")" />
                <p><b>A rede social para o lado mais expressivo do ser</b></p>
            </div>
        </div>
        <div class="form-group text-right">
            <div class="col-md-4">
                <img src="@Url.Content("~/Images/perfil-blog.png")" />
            </div>
            <div class="col-md-4 text-left">
                <label class="control-label" id="h1">Nome:</label>
                <br />
                <label class="control-label" id="h2">CRP:</label>
                <br />
                <a href="@Url.Action("Index", "Login")" id="h3">Sair</a>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @*<button class="btn btn-primary text-right" ; ">Cadastrar Paciente</button>*@
                    <a href="@Url.Action("Index", "PreCadastroPaciente")" class="btn btn-primary">Cadastrar Paciente</a>
                </div>
                <div class="col-md-12">
                    @*<button class="btn btn-primary text-right" style="margin-top: 150px; ">Cadastrar Diagnóstico</button>*@
                    <a href="@Url.Action("Index", "Diagnostico")" class="btn btn-primary">Cadastrar Diagnóstico</a>
                </div>
                <div class="col-md-4 text-right">
                    <input type="text" class="form-control" name="texto" id="texto" placeholder="Digite a pesquisa" />
                    <div><button type="submit" class="btn btn-primary">Filtrar</button></div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <br />
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:35%">Nome</th>
                                    <th style="width:15%">Idade</th>
                                    <th style="width:15%">Estado</th>
                                    <th style="width:35%">Diagnostico</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (Paciente item in Model)
                                {
                                    <tr>
                                        <td>@item.Nome</td>
                                        <td>@item.Idade</td>
                                        <td>@item.Estado</td>
                                        <td>@item.Diagnostico</td>
                                    </tr>
                                }*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>