@using PSIQ.WebUI.ViewModels
@model PaciViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center">
        <img src="@Url.Content("~/Images/logo_psiq.png")" />
        <p style="font-family:Courier, monospace; font-size:20px">A rede social para o lado mais expressivo do ser</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="masthead">
            <nav>
                <ul class="nav nav-justified">
                    <li><a href="@Url.Action("Index", "PerfilPacienteP")">Início</a></li>
                    <li><a href="@Url.Action("Index", "CadastroP")">Meus Dados</a></li>
                    <li><a href="@Url.Action("LogOff", "LoginP")">Sair</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <hr />
        <h3 style="font-family:Stencil Std, fantasy">Cadastro Paciente</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="@Url.Action("Salvar", "CadastroP")">
            @Html.HiddenFor(m => m.Cod)
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @if (!string.IsNullOrWhiteSpace(ViewBag.MsgErro))
            {
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.MsgErro
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.Nome, "Nome", new { @class = "control-label", @style = "font-family:Courier, monospace; font-size:20px" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.CPF, "CPF:", new { @class = "control-label", @style = "font-family:Courier, monospace; font-size:20px" })
                        @Html.TextBoxFor(m => m.CPF, new { @id = "txtCpf", @class = "form-control", @placeholder = "000.000.000-00", @required = true })
                    </div>
                    <div class="col-md-6 ">
                        @Html.LabelFor(m => m.DataNasc, "Data de nascimento:", new { @class = "control-label", @style = "font-family:Courier, monospace; font-size:20px" })
                        @Html.TextBoxFor(m => m.DataNasc, "{0:dd/MM/yyyy}", new { @id = "txtDataNasc", @class = "form-control", @type = "date" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12  ">
                        @Html.LabelFor(m => m.Email, "Email:", new { @class = "control-label", style = "font-family:Courier, monospace; font-size:20px" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Senha, "Senha:", new { @class = "control-label", @style = "font-family:Courier, monospace; font-size:20px" })
                        @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6 ">
                        @Html.LabelFor(m => m.Foto, "Foto:", new { @id = "lblFoto", @class = "control-label", @style = "font-family:Courier, monospace; font-size:20px" })
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Foto, new { @id = "txtFoto", @class = "form-control", @maxlength = 1000, @readonly = true, @style = "font-family:Courier, monospace; font-size:20px" })
                            <span class="input-group-btn">
                                <span class="btn btn-default fileinput-button">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    <input id="fupArquivo" type="file" name="files[]" multiple="multiple" data-url="@Url.Action("Upload", "CadastroP")" />
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary" , style="font-family: Courier, monospace; font-size:20px">Salvar</button>
                        <a class="btn btn-default" href="@Url.Action("Index", "PerfilPacienteP")" , style="font-family:Courier, monospace; font-size:20px">Cancelar</a>
                    </div>
                </div>
            </form>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtCpf").setMask("cpf");

            $('#fupArquivo').change(function (e) {
                e.preventDefault();
                e.stopPropagation();
                var data = new FormData();
                var files = $(this).get(0).files;

                if (files.length > 0) {
                    for (var i = 0; i < files.length; i++) {
                        data.append(files[i].name, files[i]);
                    }
                }

                $.ajax({
                    url: $("#fupArquivo").data("url"),
                    data: data,
                    method: "POST",
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $("#txtFoto").val(result);
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            });
        });
    </script>
}
