@using PSIQ.Models
@model Paciente
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center">
        <img src="@Url.Content("~/Images/lolo.png")" />
        <h3>Cadastro Paciente</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Nome, "Nome", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.CPF, "CPF:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Cod, "Cod:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cod, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6  ">
                    @Html.LabelFor(m => m.Senha, "Senha:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })
                </div>
                <div class="col-md-6 ">
                    @Html.LabelFor(m => m.DtNasciento, "Data de nascimento:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.DtNasciento, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Senha, "Confirmar Senha:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    <label class="control-label">Inserir imagem:</label>
                    <br />
                    <button class="btn btn-link glyphicon glyphicon-picture"></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <a href="@Url.Action("Index", "LoginP")" class="btn btn-primary">Salvar</a>
                </div>
            </div>
        </form>
    </div>
</div>

