@using PSIQ.Models
@model Diagnostico
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center">
        <img src="@Url.Content("~/Images/logo_psiq.png")" />
        <p><b>A rede social para o lado mais expressivo do ser</b></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="masthead">
            <nav>
                <ul class="nav nav-justified">
                    <li><a href="@Url.Action("Index", "PerfilTera")">Perfil</a></li>
                    <li><a href="@Url.Action("Index", "PreCadastroPaciente")"> Cadastrar Pacientes</a></li>
                    <li><a href="@Url.Action("Cadastro", "Diagnostico")"> Cadastrar Diagnósticos</a></li>
                    <li><a href="@Url.Action("LogOff", "Login")">Sair</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <hr />
        <h3>Diagnóstico</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Salvar", "Diagnostico")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Nome, "Nome", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-default" href="@Url.Action("Index", "PerfilTera")">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
