@using PSIQ.Models
@model PacienteXDiagnostico
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center">
        <img src="@Url.Content("~/Images/logo_psiq.png")" />
        <h3>Diagnóstico</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("SalvarPacXDiag", "Diagnostico")" class="form-horizontal">
            @Html.HiddenFor(m => m.Paciente.Cod)
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Diagnostico.Cod, "Diagnóstico", new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.Diagnostico.Cod, new SelectList(ViewBag.Diagnosticos ?? new List<Diagnostico>(), "Cod", "Nome"), "-- [SELECIONE] --", new { @class = "form-control" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Descricao, "Descrição", new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", @rows = 10 })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-default" href="@Url.Action("Index", "PerfilTera")">Cancelar</a>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12 text-left">
                <div class="table-responsive">
                    <br />
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th style="width:20%">DATA/HORA</th>
                                <th style="width:30%">DIAGNÓSTICO</th>
                                <th style="width:50%">DESCRIÇÃO</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PacienteXDiagnostico pxd in (List<PacienteXDiagnostico>)ViewBag.PacXDiags)
                            {
                                <tr style="background-color: #f9f9f9 !important;">
                                    <td style="width:20%">@string.Format("{0:dd/MM/yyyy HH:mm}", pxd.DataHora)</td>
                                    <td style="width:30%">@pxd.Diagnostico.Nome</td>
                                    <td style="width:50%">@pxd.Descricao</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>