@using PSIQ.Models
@using PSIQ.WebUI.ViewModels
@model PaciViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center">
        <img src="@Url.Content("~/Images/logo_psiq.png")" />
       
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="masthead">
            <nav>
                <ul class="nav nav-justified">
                    <li><a href="@Url.Action("Index", "PerfilTera")">Perfil</a></li>
                    <li><a href="@Url.Action("Index", "PreCadastroPaciente")"> Cadastrar Pacientes</a></li>
                    <li><a href="@Url.Action("Cadastro", "Diagnostico")"> Cadastrar Diagnósticos</a></li>
                    <li><a href="@Url.Action("LogOff", "Login")">Sair</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <hr />
        <h3 style="font-family:Stencil Std, fantasy">Pré-Cadastro Paciente</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Salvar","PreCadastroPaciente")" class="form-horizontal">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Nome, "Nome", new { @class = "control-label", @style = "font-family:Stencil Std, fantasy" })
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.CPF, "CPF:", new { @class = "control-label", @style = "font-family:Stencil Std, fantasy" })
                    @Html.TextBoxFor(m => m.CPF, new { id = "txtCpf", @class = "form-control" })
                </div>
                <div class="col-md-6 ">
                    @Html.LabelFor(m => m.DataNasc, "Data de nascimento:", new { @class = "control-label", @style = "font-family:Stencil Std, fantasy" })
                    @Html.TextBoxFor(m => m.DataNasc, string.Format("{0:dd/MM/yyyy}", Model.DataNasc), new { @id = "txtDataNasc", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6  ">
                    @Html.LabelFor(m => m.Email, "Email:", new { @class = "control-label", @style = "font-family:Stencil Std, fantasy" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control",  })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Foto, "Foto:", new { @id = "lblFoto", @class = "control-label", @style = "font-family:Stencil Std, fantasy" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Foto, new { @id = "txtFoto", @class = "form-control", @maxlength = 1000, @readonly = true })
                        <span class="input-group-btn">
                            <span class="btn btn-default fileinput-button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <input id="fupArquivo" type="file" name="files[]" multiple="multiple" data-url="@Url.Action("Upload", "PreCadastroPaciente")" />
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Senha, "Senha:", new { @class = "control-label", @style = "font-family:Stencil Std, fantasy" })
                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Estado.Cod, "Estado:", new { @class = "control-label",  @style = "font-family:Stencil Std, fantasy"  })
                    @Html.DropDownListFor(m => m.Estado.Cod, new SelectList(ViewBag.Estados ?? new List<Estado>(), "Cod", "Nome"), "-- [SELECIONE] --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">

                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-default" href="@Url.Action("Index", "PerfilTera")">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/additional-methods.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").validate({
                rules: {
                    dateITA: true
                }
            });

            $("#txtCpf").setMask("cpf");
            $("#txtDataNasc").setMask("date");
            //$('#datetimepicker1').datetimepicker({ format: "DD/MM/YYYY", pickTime: false, language: "pt-BR" });

            $('#fupArquivo').change(function (e) {
                e.preventDefault();
                e.stopPropagation();
                var data = new FormData();
                var files = $(this).get(0).files;

                if (files.length > 0) {
                    for (var i = 0; i < files.length; i++) {
                        data.append(files[i].name, files[i]);
                    }
                }

                $.ajax({
                    url: $("#fupArquivo").data("url"),
                    data: data,
                    method: "POST",
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $("#txtFoto").val(result);
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            });
        });
    </script>
}