@using PSIQ.Models
@model Terapeuta
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center">
        <img src="@Url.Content("~/Images/logo_psiq.png")" />
        <h3>Cadastro Terapeuta</h3>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="@Url.Action("Salvar", "CadTera")" class="form-horizontal">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.Nome, "Nome", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.CRP, "CRP:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.CRP, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6 ">
                        @Html.LabelFor(m => m.DtNascimento, "Data de nascimento:", new { @class = "control-label" })
                        <div class='input-group date' id='datetimepicker1'>
                            @Html.TextBoxFor(m => m.DtNascimento, string.Format("{0:dd/MM/yyyy}", Model.DtNascimento), new { @id = "txtDtNascimento", @class = "form-control", @data_format = "dd/MM/yyyy", @maxlength = 10 })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6  ">
                        @Html.LabelFor(m => m.Email, "Email:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Foto, "Foto:", new { @id = "lblFoto", @class = "control-label" })
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Foto, new { @id = "txtFoto", @class = "form-control", @maxlength = 1000, @readonly = true })
                            <span class="input-group-btn">
                                <span class="btn btn-default fileinput-button">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    <input id="fupArquivo" type="file" name="files[]" multiple="multiple" data-url="@Url.Action("Upload", "CadTera")" />
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Senha, "Senha:", new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Senha, "Confirmar senha:", new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtDtNascimento").setMask("date");
            $('#datetimepicker1').datetimepicker({ format: "DD/MM/YYYY", pickTime: false, language: "pt-BR" });

            $('#fupArquivo').change(function (e) {
                e.preventDefault();
                e.stopPropagation();
                var data = new FormData();
                var files = $(this).get(0).files;

                if (files.length > 0) {
                    for (var i = 0; i < files.length; i++) {
                        data.append(files[i].name, files[i]);
                    }
                }

                $.ajax({
                    url: $("#fupArquivo").data("url"),
                    data: data,
                    method: "POST",
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $("#txtFoto").val(result);
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            });
        });
    </script>
}