@using PSIQ.Models
@model Terapeuta

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="col-md-12 text-center">

            <img src="~/lolo.png" />
            <h3>Cadastro Terapeuta</h3>
            <hr />

        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(m => m.Nome, "Nome", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.CRP, "CRP:", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.CRP, new { @class = "form-control" })
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(m => m.COD, "Cod:", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.COD, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6  ">
                            @Html.LabelFor(m => m.Senha, "Senha:", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })

                        </div>
                        <div class="col-md-6 ">

                            @Html.LabelFor(m => m.DtNasciento, "Data de nascimento:", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.DtNasciento, new { @class = "form-control" })



                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.Senha, "Confirmar Senha:", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })


                        </div>


                        <div class="col-md-6">
                            <label class="control-label">Inserir imagem:</label>
                            <br />
                            <button class="btn btn-link glyphicon glyphicon-picture"></button>
                        </div>

                    </div>
                    <div class="form-group">



                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>

                    </div>
                </form>
</div>
           
        </div>
    </div>
 
